@import "../../Assets/Styles/common/_variables.scss";

.button {
  color: white;
  padding: 0px 10px;
  outline: none;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  line-height: 25px;
  transition: 0.5s;
  margin: 5px;
  &:hover {
    transition: 0.5s;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}
